In [ ]:
#VARIABLES TYPES

tupules
list
array
sets
dictionaries
functions

#Variable types

A **value** is a piece of data that a computer program works with such as a number or text. There are different **types** of values: `42` is an integer and `"Hello!"` is a string. A **variable** is a name that refers to a value. In mathematics and statistics, we usually use variable names like $x$ and $y$. In Python, we can use any word as a variable name as long as it starts with a letter or an underscore. However, it should not be a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc. as these words encode special functionality in Python that we don't want to overwrite!

It can be helpful to think of a variable as a box that holds some information (a single number, a vector, a string, etc). We use the **assignment operator** `=` to assign a value to a variable.

![](img/chapter1/box.png)

Image modified from: [medium.com](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40stevenpcurtis.sc%2Fwhat-is-a-variable-3447ac1331b9&psig=AOvVaw3YbYfgb7XFOJ_sHP5eliob&ust=1595365663851000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMi8nrfe3OoCFQAAAAAdAAAAABAZ)

```{tip}
See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes.
```

In [22]:
# LISTS

list

In [24]:
# add items to a list

age1 = 20
age2 = 30
age3 = 50
name1 = 'terry'
name2 = 'Tunde'
name3 = 'Mary'

In [32]:
#######mylist5 = ['mary',50,'terry',20,'tunde',30] WRONG

ageList = [20,30,50]
nameList = ['terry','Tunde','Mary']

In [33]:
# Let us use two dynamic variables name and age to hold the temprary values from our itirations of the list
for n,a in zip(nameList,ageList):
    print(n, a)

terry 20
Tunde 30
Mary 50

In [46]:
nameList,ageList
for vals in nameList:
    for item in ageList:
        print(vals, item)

terry 20
terry 30
terry 50
Tunde 20
Tunde 30
Tunde 50
Mary 20
Mary 30
Mary 50

In [30]:
# LOOPING THROUGH A LIST

ageList = [20,30,50]

for a in ageList:
    print(a, ageList.index(a))

20 0
30 1
50 2

In [35]:
mylist4 = []

In [ ]:
# use this to add items to a list .append()

In [43]:
# add age to the list mylist4
mylist4 = []
age1 = 20
age2 = 30
age3 = 50


mylist4.append(age1) # hard coding 
mylist4
print(len(mylist4))
print(mylist4)

#appending the remaining two age items to the list

mylist4.append(age2)
mylist4.append(age3)

'''mylist4.append((age2,age3))
'''
mylist4

1
[20]

[20, 30, 50]

In [45]:
#len()
l1= [2,4,5,6,7,8]
len(l1)

6

In [64]:
# merge or concat two lists use extend()
nameList = ['terry','Tunde','Mary']
ageListx = [20,30,50]
print(ageListx)
ageListx.extend(nameList)
#newlist = ageListx #.extend(nameList)
(ageListx.extend(nameList))#.extend(nameList)
#ageListx.extend(nameList)
print(ageListx)

[20, 30, 50]
[20, 30, 50, 'terry', 'Tunde', 'Mary', 'terry', 'Tunde', 'Mary']

In [65]:
# merge or concat two lists use extend()
nameList = ['terry','Tunde','Mary']
ageListx = [20,30,50]
print(ageListx)
ageListx.extend(nameList)

[20, 30, 50]

In [ ]:
nameList = ['terry','Tunde','Mary']

In [68]:
# using index positions to access the contrents of a list

#list indexing/slicing

print(nameList[0])
print(nameList[1])

terry
Tunde

In [ ]:
# find the index position of this item 'mary' in the list

In [ ]:
.index()

In [71]:
nameList.index('Mary')
print(len(nameList))

3

In [74]:
# EXTEND function allows us to merge two lists to obtain a bigger list
l1 = ['cat','dog','parrot']
l2 = ['tiger','lion','leopard']

l1.extend(l2)
#l2.extend(l1)
print(l2)
print(l1)

['tiger', 'lion', 'leopard']
['cat', 'dog', 'parrot', 'tiger', 'lion', 'leopard']

In [75]:
l1 = ['cat','dog','parrot']
l2 = ['tiger','lion','leopard']


for i in l1:
    print('the value of i now is: ', i)
    l2.append(i)
    print('l2 now has the following contents: ', l2)

the value of i now is:  cat
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat']
the value of i now is:  dog
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat', 'dog']
the value of i now is:  parrot
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat', 'dog', 'parrot']

In [83]:
# Understanding how a for-loop works 

l1 = ['cat','dog','parrot']
l2 = ['tiger','lion','leopard']

counter = 1
for i in l1:
    print('the value of i now is: ', i)
    l2.append(i)
    print('l2 now has the following contents: ', l2)
    print('This is the', counter , 'i am going through through l1')
    counter = counter + 1
print('Phew! I just got here finally')

the value of i now is:  cat
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat']
This is the 1 i am going through through l1
the value of i now is:  dog
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat', 'dog']
This is the 2 i am going through through l1
the value of i now is:  parrot
l2 now has the following contents:  ['tiger', 'lion', 'leopard', 'cat', 'dog', 'parrot']
This is the 3 i am going through through l1
Phew! I just got here finally

In [ ]:
# Tuple
# tuples are immutable. meaning we cannot change their size
# tuples are represented with () notation

In [92]:
l1Tuple = ('cat','dog','parrot')
l2Tuple = ('tiger','lion','leopard')

type(l1Tuple)

'''
Tuples cannot be expanded in size because they represent constants in python
But we can obtain new tuple from an existing tuple just by indexing and slicing
'''
#l1Tuple.append(l2Tuple)

# to create a new tuple

l3Tuple = l1Tuple[1:5]

In [94]:
type(l1Tuple)

tuple

In [93]:
l3Tuple

('dog', 'parrot')

In [89]:
# looping through the contents of a tuple

for items in l2Tuple:
    print(items)

tiger
lion
leopard

In [90]:
newlist = list(l1Tuple)

In [97]:
l1Tuple = ('cat','dog','parrot')
print(type(l1Tuple))
l1Tuple = list(l1Tuple)  # list()
print(type(l1Tuple))

<class 'tuple'>
<class 'list'>

In [ ]:
Grades = ('A+','A-','B+','B-','C','D','E')
Scores =[50,80,95]

In [98]:
age = 56
gender = 'female'
income = 564.89

staffProfile = (age,gender,income)
print(staffProfile)

(56, 'female', 564.89)

In [100]:
age = 99

print(staffProfile)
gender = 'male'
print(staffProfile)

(56, 'female', 564.89)
(56, 'female', 564.89)

In [102]:
age = 56
gender = 'female'
income = 564.89

staffProfileList = [age,gender,income]
print(staffProfileList)

[56, 'female', 564.89]

In [103]:
age = 78
print(staffProfileList)

[56, 'female', 564.89]

In [107]:
# Search for items in a list/tuple

Grades = ('A+','A-','B+','B-','C','D','E')
Scores =[50,80,95]

#search for 'A-' in Grades

# use the in syntax

grade = 'B-'

if grade in Grades:
    print('item found')
    print(Grades.index(grade))
else:
    print('item not found')

item found
3

In [109]:
# STRINGS

myname = 'Agatha Christie'
country = "Zambia"

# Use len() to get the length of the string just like in lists

print(len(myname))

15

In [110]:
# slice the string just like in lists
#extracting the first name


fname = myname[0:6]
fname

'Agatha'

In [111]:
# loop through a string:

for char in myname:
    print(char)

A
g
a
t
h
a

C
h
r
i
s
t
i
e

In [131]:
str1 = 'slice the string just like in lists'

print(str1)
splitVals = str1.split()
print(splitVals)
cypher1 = []
cypher2 = ''
for i in splitVals:
    cypher1.append(i[1])
    cypher2+=i[1]
    #print()
print(cypher1)
print(cypher2)

slice the string just like in lists
['slice', 'the', 'string', 'just', 'like', 'in', 'lists']
['l', 'h', 't', 'u', 'i', 'n', 'i']
lhtuini

In [113]:
splitVals

['slice', 'the', 'string', 'just', 'like', 'in', 'lists']

In [121]:
s = 'slice'

print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

s
l
i
c
e

In [130]:
x =1
# if we want to increase x by 1

x = x+1
print(x)

y = 1
y+=10
print(y)

2
11

In [132]:
str3 ='Hauwa'
str4 = 'Hassan'

print(str3+ ' ' +str4)

str5+ = str3+str4
print(str5)

SyntaxError: invalid syntax (<ipython-input-132-44fb5f12c429>, line 6)

In [133]:
#Sets

# sets are useful for holding a collection of items without duplicates

Scores =[50,80,95,70,50,67,80]
myset = set(Scores)

In [134]:
myset

{50, 67, 70, 80, 95}

In [ ]:
# curly brace used by sets also used in dictionaries

In [135]:
type(myset)

set

In [136]:

Scores =[100,3456,50,80,95,70,50,67,80]
myset = set(Scores)
print(myset)

{3456, 67, 100, 70, 80, 50, 95}

In [137]:
print(myset[3])

TypeError: 'set' object is not subscriptable

In [152]:
set1 = {2,4,6,9}
set2 = {9,4,6,2,8,10}

list1 = [2,4,6,9]
list2 = [9,4,6,2]

In [153]:
if set1 == set2:
    print('yes they are same thing')
else:
    print('the sets are different')

yes they are same thing

In [143]:
if set1 in set2:
    print('yes they are same thing')
else:
    print('set 1 not in set2')

set 1 not in set2

In [144]:
if list1 == list2:
    print('yes they are same thing')
    
else:
    print('lists not identical')

lists not identical

In [147]:
age = 56
gender = 'female'
income = 564.89

staffProfileList = [age,gender,income]
staffProfileList
y = 56
j=46
print(y*j)

2576

In [149]:
t1 = ['jerry','tunde','max']

for items in t1:
    print(items)

jerry
tunde
max

In [ ]:
Present:Stanley Omeike

In [1]:
# List

mylist = [23,45,'james',3.5, 23]
mylist

[23, 45, 'james', 3.5, 23]

In [21]:
age = (30,10)
type(age)

tuple

In [3]:
# Tuple
myTupule = (23,45,'james',3.5, 23)
myTupule

(23, 45, 'james', 3.5, 23)

In [5]:
lengthOfList = len(mylist)
print(lengthOfList)

5

In [ ]:
# immutable Vs mutable

In [7]:
mylist.append('Jerry')
print(mylist)
lengthOfList = len(mylist)
print(lengthOfList)

[23, 45, 'james', 3.5, 23, 'Jerry', 'Jerry']
7

In [11]:
newTuple = myTupule.insert(3,'Jerry')
newTuple

AttributeError: 'tuple' object has no attribute 'insert'

In [14]:
# extract items in index pos 3 and 5
myTupule = (23,45,'james',3.5, 23,99)
newTuple = myTupule[3:]
newTuple

(3.5, 23, 99)

In [16]:
# extract items in index pos 3 and 5
myTupule = (23,45,'james',3.5, 23,99)
newTuple = myTupule[3],myTupule[5]
newTuple

(3.5, 99)

In [ ]:
Scores =[50,80,95,70,50,67,80]

In [ ]:
no