# Cohort 11 Sprint 2

In [ ]:
Lists
Sets
Dictionaries
Flow Control
Functions
Arrays

In [ ]:
# Lists

#Containers


Sophia
Linda
Victor
Joseph
Enya

23
25
30
21
22

87%
67%
99%
30%
60%

In [1]:
classList = ['Sophia', 23, 87, 'Linda',25,67]

In [2]:
classList

['Sophia', 23, 87, 'Linda', 25, 67]

In [4]:
studNames = ['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya']
studAge = [23,25,30,21,22] # these are the ages of the students in class SS1
studScores = [87,67,99,30,60] # these scores are in percentages. For Biology

In [ ]:
# Itirate over items in a list
# get any item by their index position in a list
# Add items to a list

In [ ]:
# index positions

# starts from 0 up to n-1 (length of the list, or the number of items in the list)

In [7]:
# to get the length of s list use len()
studNames = ['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya']
numStudents = len(studNames)
#print(numStudents)

for items in studNames:
    print(studNames.index(items))

0
1
2
3
4

In [14]:
firstStudent = studNames[0]
lastStudent = studNames[-2]

In [15]:
print(firstStudent)
print(lastStudent)

Sophia
Joseph

In [17]:
searchItem = 'Joseph'
searchPool = studNames

for items in searchPool:
    if items == searchItem:
        print('searchItem found in index position : ', searchPool.index(items))

searchItem found in index position :  3

In [19]:
#Add to a list

#.append()

ageList = [23,25,30,21,22]

#add 27 to the list ageList

ageList.append(27)
print(ageList)

[23, 25, 30, 21, 22, 27]

In [21]:
ageList1 = [23,18,30,21,22]
ageList2 = [40,23,32,18,17]

# to cobine the two lists, us the .extend() function

ageList1.extend(ageList2)
print(ageList1)

[23, 18, 30, 21, 22, 40, 23, 32, 18, 17]

In [22]:
#Sets

ageListUnique = set(ageList1)
print(ageListUnique)

{32, 40, 17, 18, 21, 22, 23, 30}

In [62]:
list1 = [2,3,7]
list2 = [2,4,6,2,'Agatha']
list1 = tuple(list1)
list2 = tuple(list2)
#list3 = set((list1,list2))

set1 ={list1,list2}

set1

{(2, 3, 7), (2, 4, 6, 2, 'Agatha')}

In [63]:
list3 = set(list2)

list3

{2, 4, 6, 'Agatha'}

In [37]:
list4 = [9,4,3,5] #list Mutable
tple1 = (7,4,3,8) #tuple  immutable

In [38]:
list4.append(55)
list4

[9, 4, 3, 5, 55]

In [41]:
tple1.insert(55)

AttributeError: 'tuple' object has no attribute 'insert'

In [55]:
#strings are immutable

str1 = 'jerry'
str7 = str1 = 'Jerry'

#str7 == str1
print(len(str1))
str2 = 'Tega'

str1 = str1+str2
str1 = 'jerry'+'Tega'
print(len(str1))

5
9

In [56]:
str7 == str1

False

In [57]:
print(str1)
print(str7)

JerryTega
Jerry

In [59]:
x = y = 4
x = y
y = 6
print(x)

4

In [61]:
names = 'tega'
names.append('t')

AttributeError: 'str' object has no attribute 'append'

In [32]:
list1 = [2,3,7]
list2 = [2,4,6,2,'Agatha']
list1.extend(list2)
#list3 = set((list1,list2))
#list3 = set(list2)
set2 =set(list1)

In [33]:
set2

{2, 3, 4, 6, 7, 'Agatha'}

In [ ]:
Union # returns all items in both sets without a duplicate
intersect # Selects items that are identical in the sets

In [64]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
A.update(B)

In [ ]:
s1 = {2,3,5}
s2 = {4,6,7}
s3 = {5,2,9}

# In one line of code Union of all thr sets

#In one line of code Intersect of all the sets

In [68]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
A.intersection(B)

{4, 5}

In [ ]:
Dictionaries
Flow Control
Functions

In [ ]:
#Dictionaries

# Dictionaries are also containers but unlike lists, they hold Keys and Value pairs
# in dictionaries, Keys MUST be unique and no duplicate of keys are allowed
# values can have duplicates

In [ ]:
listX = [65,67,57]

In [ ]:
classList = ['Sophia', 23, 87, 'Linda',25,67]

studNames = ['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya']
studAge = [23,25,30,21,22] # these are the ages of the students in class SS1
studScores = [87,67,99,30,60] # these scores are in percentages. For Biology

In [70]:
myDict = {}
myDict2 = dict()

In [71]:
type(myDict)

dict

In [72]:
type(myDict2)

dict

In [73]:
print(myDict)

{}

In [ ]:
#Assuming I wanted to store for each student, their age and their class

# We can use dictionaries, where the key will be student name and the values will be a list of their age and class

In [74]:
studNames = ['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya']
studAge = [23,25,30,21,22] # these are the ages of the students in class SS1
studClass = ['ss1','ss2','ss3','ss4','ss5'] # these scores are in percentages. For Biology

In [84]:
studRecords = {'Sophia':[23,'ss1'], 'Linda':[25, 'ss2'], 'Victor':[25, 'ss2'], 'Joseph':[21, 'ss4'], 'Enya':[22,'ss5']}

In [85]:
studRecords

{'Sophia': [23, 'ss1'],
 'Linda': [25, 'ss2'],
 'Victor': [25, 'ss2'],
 'Joseph': [21, 'ss4'],
 'Enya': [22, 'ss5']}

In [77]:
studRecords['Sophia']

[23, 'ss1']

In [86]:
lindaInfo = studRecords['Linda']

In [87]:
lindaInfo

[25, 'ss2']

In [88]:
# to get ALL the keys in a dictionary use    .keys()



studRecords.keys()

dict_keys(['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya'])

In [89]:
# to get ALL the values in a dictionary use    .values()

studRecords.values()

dict_values([[23, 'ss1'], [25, 'ss2'], [25, 'ss2'], [21, 'ss4'], [22, 'ss5']])

In [ ]:
#For Loops

studRecords = {'Sophia':[23,'ss1'], 'Linda':[25, 'ss2'], 'Victor':[25, 'ss2'], 'Joseph':[21, 'ss4'], 'Enya':[22,'ss5']}

In [ ]:
studNames = ['Sophia', 'Linda', 'Victor', 'Joseph', 'Enya']

# loop through the student list, if Victor is found, alert the police

for loop
if statement

In [96]:
searchPerson = 'Victor'
for items in studNames:
    #print(name)
    if items == searchPerson:
        print('Alert!... Person of interest found. Name is: ', items)
        break
    else:
        print('current result is not person of interest. name is: ', items)

current result is not person of interest. name is:  Sophia
current result is not person of interest. name is:  Linda
Alert!... Person of interest found. Name is:  Victor

In [97]:
for vals in studRecords.items():
    key,val = vals
    print(key)
    print(val)

Sophia
[23, 'ss1']
Linda
[25, 'ss2']
Victor
[25, 'ss2']
Joseph
[21, 'ss4']
Enya
[22, 'ss5']

In [ ]:
#Sets
#Sets are unordered.
#Set elements are unique. Duplicate elements are not allowed.
#A set itself may be modified, but the elements contained in the set must be of an immutable type.

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

In [ ]:
#Sets are mutable. However, since they are unordered, indexing has no meaning.

#We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.

#We can add a single element using the add() method, and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)